html, body {
	height: 100%;
	margin: 0px;
}

body {
	font-family: 'Roboto', serif;
	font-size: 11px;
	color: #B3B3B3;
	background-color: #333;
	line-height: 1.0;
}

h1 {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #5AF;
	font-weight: bold;
	letter-spacing: 0.1em;
	font-size: 36px;
	margin: 20px 0;
}

.button {
	font-family: 'Roboto', serif;
	font-size: 14px;
	letter-spacing: 0.15em;
	padding: 5px 14px 5px 14px;
	border-radius: 5px;
	cursor: pointer;
	color: white;
	display: inline-block;
	background-color: #5AF;
	font-weight: bold;
	text-decoration: none;
	line-height: 1.5;
}

.button:hover {
	background-color: #6BF;
}

.hollow-button {
	background-color: transparent;
	border: 2px solid #5AF;
	padding: 3px 12px 3px 12px;
}

.hollow-button:hover {
	background-color: #5AF;
}

.narrow-button {
	padding: 8px 12px;
	font-size: 12px;
	letter-spacing: 0.1em;
}

a {
	color: #5AF;
}

td {
	padding-left: 8px;
}

ul {
	padding-left: 10px;
	line-height: 1.25;
	margin: 0;
}

.note {
	font-style: italic;
}

body {
	display: flex;
	flex-direction: column;
	flex-wrap: no-wrap;
	align-items: center;
}

.all-options {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.option-col {
	display: flex;
	flex-direction: column;
	margin: 0 10px 0;
	height: 100%;
	width: 400px;
}

fieldset {
	margin-bottom: 10px;
	padding: 5px 10px 5px;
}

legend {
	color: #5AF;
	font-weight: bold;
}

input[type="file"] {
	display: none;
}

input[type="radio"] {
	margin: 0.4rem;
	accent-color: #5AF;
}

input[type="checkbox"] {
	cursor: pointer;
	accent-color: #5AF;
}

input {
	margin-right: 10px;	
}

label {
	margin-right: 10px;
	text-align: right;
}

/* https://blog.logrocket.com/creating-beautiful-tooltips-with-only-css/ */

.tooltip {
	position: relative;
	border-bottom: 1px dashed #B3B3B3;
}

.tooltip:before {
	content: attr(data-tip);
	position: absolute;

	/* vertically center */
	top: 50%;
	transform: translateY(-50%);

	/* move to right */
	left: 100%;
	margin-left: 18px;

	/* basic styles */
	width: 300px;
	padding: 10px;
	border-radius: 10px;
	background: #5AF;
	color: white;
	text-align: center;
	font-weight: normal;
	
	/* fix for one-line tips */
	min-height: 18px;
	display: flex;
	align-items: center;
	justify-content: center;

	visibility: hidden;
	opacity: 0;
	transition: 0.3s ease-in-out;
}

.tooltip:hover:before {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
}

.tooltip:after {
	content: "";
	position: absolute;

	/* position tooltip correctly */
	left: 100%;
	margin-left: -2px;

	/* vertically center */
	top: 50%;
	transform: translateY(-50%);

	/* the arrow */
	border: 10px solid #5AF;
	border-color: transparent #5AF transparent transparent;

	visibility: hidden;
	opacity: 0;
	transition: 0.3s ease-in-out;
}

.tooltip:hover:before, .tooltip:hover:after {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
}

/*
.tooltip {
	font-weight: bold;
	margin-left: 10px;
	border-radius: 1.2ex;
	padding: 1px;
	border: 1px solid grey;
	opacity: 80%;
	cursor: pointer;
}
*/

.footer {
	border-top: 1px solid #5AF;
	margin-top: 80px;
	margin-bottom: 20px;
	color: grey;
	font-size: 12px;
	padding-top: 5px;
}

.social-links {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.img-rescale {
	width: 40px;
	height: 40px;
	opacity: 0.4;
}

.img-rescale img {
	width: 100%;
	height: auto;
}

#message {
	width: fit-content;
	max-width: 500px;
	margin: 0 auto;
	padding: 5px;
	text-align: center;
	background-color: #FFC;
	color: #565656;
	border-radius: 3px;

	position: fixed;
	top: 140px;
	left: 50%;
	transform: translate(-50%, 0%);
	z-index: 1000;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	 -khtml-user-select: none; /* Konqueror HTML */
	   -moz-user-select: none; /* Old versions of Firefox */
	    -ms-user-select: none; /* Internet Explorer/Edge */
	        user-select: none; /* Non-prefixed version, currently
	                              supported by Chrome, Edge, Opera and Firefox */
}

.center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hidden {
	display: none;
}
